body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0.5rem;
}